html,
body,
div
 {
  height: 100%;
}

div{
  white-space: pre-line;
}



.pos-fixed {
  position: fixed !important;
}

@media only screen and (max-device-width: 700px) {
  .pos-fixed {
    position: static !important;
  }

}

.container-screen {
  display: flex;
  align-items: center;
}

.section-screen{
  border-bottom: 1px solid gray;
}