html,
body,
div
 {
  height: 100%;
}



.pos-fixed {
  position: fixed !important;
}

@media only screen and (max-device-width: 700px) {
  .pos-fixed {
    position: static !important;
  }

}

.container-screen {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
